<h1>Listado de productos</h1>

{{#if role}}
    <h2>Producto: {{ object.name }}</h2>
{{else}}
    <h2>Producto sin stock</h2>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>